:root{
  --color-first :  #fafafa;
  --color-second :  #064f60;
  --color-third :  #ffad47;
  --color-fourth :  #064f609f;
  --color-five :  #fafafa44;
  --color-mustdo : #E52020;
  --color-Moderatelly : #B771E5;
  --color-fun : #5B913B;
  --color-delegate : #00BBF0;
  --color-fade : #e7e7e7;
  --color-light-orange : #ffac4786;
}

